body {
    padding: 5px;
    background-image: url("bg-dark-gold.jpg");
    /* make background image cover the entire screen */
    background-size: cover;
}

h1 {
    color: white;
    text-decoration: underline;
}